<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0"><dict>
<key>title</key><string>About</string>
<key>items</key><array>
<dict><key>cell</key><string>PSGroupCell</string><key>footerText</key><string>CCAster v0.2.4</string></dict>
<dict><key>cell</key><string>PSStaticTextCell</string><key>label</key><string>MoarTweaks (futur3sn0w)</string><key>icon</key><string>avatar1.png</string></dict>
<dict><key>cell</key><string>PSGroupCell</string><key>footerText</key><string>Original creator of CCAster.</string></dict>
<dict><key>cell</key><string>PSStaticTextCell</string><key>label</key><string>notsoseagatey</string><key>icon</key><string>avatar2.png</string></dict>
<dict><key>cell</key><string>PSGroupCell</string><key>footerText</key><string>Ported CCAster to iOS 15.</string></dict>
<dict><key>cell</key><string>PSStaticTextCell</string><key>label</key><string>Tuna (HaydarReiss31)</string><key>icon</key><string>avatar3.png</string></dict>
<dict><key>cell</key><string>PSGroupCell</string><key>footerText</key><string>Performance and stability fixes: resolved edit-mode CPU overhead, slider lag, and dangling-pointer crashes.</string></dict>
</array>
</dict></plist>
